<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>IotL</title>
<link th:href="@{/css/Temp.css}" rel="stylesheet">
</head>
<body>
	<h1>創って学ぶIoT</h1>
	
	<nav>
	  <ul>
	    <li><a href="Learn">学ぶ</a></li>
	    <li><a href="Build">作る</a></li>
	    <li><a href="Connect">接続</a></li>
	    <li><a href="Setting">共有</a></li>
	    <li><a href="Home">ホーム</a></li>
	  </ul>
	</nav>
	
	<z>
	<h2>ファイルアップロード</h2>
	<form action="/Setting" method="post" enctype="multipart/form-data">
		<label for="file">ファイルを選択:</label>
		<input type="file" id="file" name="file" required>
		<button type="submit">アップロード</button>
	</form>
	<h2>アップロードされたファイル</h2>
	   <ul>
	       <th:block th:each="file : ${files}">
	           <li>
	               <a th:href="@{'/Setting/' + ${file.id}}"
	                  th:text="${file.fileName}">ファイル名</a>
	           </li>
	       </th:block>
	   </ul>	
	</z>
</body>
</html>